@font-face {
  font-display: swap;
  font-family: "Latin Modern Roman";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/lmroman-bold.otf");
}

@font-face {  
  font-display: swap;
  font-family: "Latin Modern Roman";
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/lmroman-bolditalic.otf");
}

@font-face {
  font-display: swap;
  font-family: "Latin Modern Roman";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/lmroman-italic.otf");
}

@font-face {
  font-display: swap;
  font-family: "Latin Modern Roman";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/lmroman-regular.otf");
}

@font-face {
  font-display: swap;
  font-family: "Latin Modern Roman SC";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/lmromancaps-regular.otf");
}