:root {
  --font: "Latin Modern Roman", serif;
  --font-sc: "Latin Modern Roman SC", serif;
  --font-mono: monospace;

  --bg-h: #1d2021;
  --bg: #282828;
  --bg-s: #32302f;
  --bg1: #3c3836;
  --bg2: #504945;
  --bg3: #665c54;
  --bg4: #7c6f64;

  --fg: #fbf1c7;
  --fg1: #ebdbb2;
  --fg2: #d5c4a1;
  --fg3: #bdae93;
  --fg4: #a89984;

  --red: #fb4934;
  --green: #b8bb26;
  --yellow: #fabd2f;
  --blue: #83a598;
  --purple: #d3869b;
  --aqua: #8ec07c;
  --gray: #928374;
  --orange: #fe8019;

  --red-dim: #cc2412;
  --green-dim: #98971a;
  --yellow-dim: #d79921;
  --blue-dim: #458588;
  --purple-dim: #b16286;
  --aqua-dim: #689d6a;
  --gray-dim: var(--fg4);
  --orange-dim: #d65d0e;
}

* {
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  background-color: var(--bg);
  height: 8px;
  width: 8px;
}
::-webkit-scrollbar ::-webkit-scrollbar-thumb {
  background-color: var(--gray);
}
::-webkit-scrollbar ::-webkit-scrollbar-thumb:hover {
  background-color: #fe8019;
}
html {
  scroll-behavior: smooth;
  font-size: 14px;
  background-color: var(--bg);
  color: var(--fg);
  font-family: var(--font);
  /* base */
}
html a {
  color: var(--red);
  text-decoration: none;
}
html a:hover {
  color: var(--red-dim);
}
html details {
  margin-top: 2rem;
}
html .link {
  color: var(--fg);
}
html .link:hover {
  color: var(--fg4);
}
html time {
  color: var(--gray);
  margin-left: 1rem;
  min-width: 5rem;
}
html hr {
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}
html h1,
html h2,
html h3,
html h4,
html h5,
html h6 {
  letter-spacing: -0.03rem;
  line-height: 1.2;
}
html h1 {
  font-size: 3.375rem;
}
html h2 {
  font-size: 1.7rem;
}
html h3 {
  font-size: 1.5rem;
}
html h4 {
  font-size: 1rem;
  /* layout */
}
html #content {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  font-family: var(--font);
}
html #content header {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 1 / 4;
  margin-bottom: 2rem;
  font-family: var(--font-sc);
  font-variant: small-caps;

}
html #content header h1 {
  display: flex;
  flex-wrap: wrap;
  letter-spacing: 0.6rem;
  text-align: center;
  font-size: 3.375rem;
  text-shadow:
    0.5px 0.5px var(--bg2),
    1px 1px var(--bg2),
    1.5px 1.5px var(--bg2),
    2px 2px var(--bg2),
    2.5px 2.5px var(--bg2),
    3px 3px var(--bg2),
    3.5px 3.5px var(--bg2),
    4px 4px var(--bg2),
    4.5px 4.5px var(--bg2),
    5px 5px var(--bg2),
    5.5px 5.5px var(--bg2),
    6px 6px var(--bg2),
    6.5px 6.5px var(--bg2),
    7px 7px var(--bg2);
}
html #content header nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: bold;
  padding: 0 1rem 0 1rem;
  max-width: 60vw;
  width: 100%;
}
html #content main {
  display: flex;
  flex-direction: column;
  padding: 0 7vw 0 7vw;
  grid-column: 2 / 3;
  width: 100%;
}
html #content main h1 {
  text-align: center;
}
html #content main .series a {
  font-style: normal;
  font-family: var(--font-sc);
  color: var(--aqua);
}
html #content main .series a:hover {
  color: var(--aqua-dim);
}
html #content main .series p {
  font-style: italic;
}
html #content main .post-group ul {
  border-left: var(--gray) solid 1px;
  list-style-type: none;
  margin-left: 0.5rem;
  padding-left: 1rem;
}
html #content main .post-group ul li {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 1.5;
}
html #content main .post-group ul li time {
  text-align: right;
}
html #content main .post {
  margin-bottom: 1rem;
}
html #content main .post .post-title {
  font-size: 2.25rem;
}
html #content main .post h2 {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
html #content #left-sidebar {
  grid-column: 1 / 2;
  margin-top: 2rem;
  padding-left: 2rem;
  position: sticky;
  top: 2rem;
  align-self: start;
}
html #content #left-sidebar .post-summary {
  font-family: var(--font-sc);
  font-size: 0.8rem;
  border-left: 1px solid var(--gray);
}
html #content #left-sidebar .post-summary p {
  text-decoration: none;
  display: block;
  margin-left: 1rem;
  transition: all 100ms ease-in-out;
}
html #content #left-sidebar .featured-posts {
  font-family: var(--font-sc);
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  border-left: 1px solid var(--gray);
  padding-left: 1rem;
  margin-top: 2rem;
}
html #content #left-sidebar #series {
  margin-top: 2rem;
}
html #content #left-sidebar #series a {
  font-style: normal;
  font-family: var(--font-sc);
  color: var(--aqua);
}
html #content #left-sidebar #series a:hover {
  color: var(--aqua-dim);
}
html #content #left-sidebar #series a ol {
  margin-left: 1.2rem;
}
html #content #right-sidebar {
  grid-column: 3 / 4;
  position: sticky;
  top: 0.1rem;
  align-self: start;
}
html #content #right-sidebar #TableOfContents {
  font-size: 0.7rem;
  margin-top: 2rem;
  padding-left: 0;
  border-left: 1px solid var(--gray);
}
html #content #right-sidebar #TableOfContents a {
  text-decoration: none;
  display: block;
  padding: 0.125rem 0;
  color: var(--gray);
  transition: all 100ms ease-in-out;
}
html #content #right-sidebar #TableOfContents a:hover,
html #content #right-sidebar #TableOfContents a:focus {
  color: var(--fg4);
}
html #content #right-sidebar #TableOfContents ul,
html #content #right-sidebar #TableOfContents ol {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 100%;
}
html #content #right-sidebar #TableOfContents li {
  margin-left: 1rem;
}
html #content #right-sidebar #TableOfContents a.active {
  color: var(--fg);
  font-weight: bold;
}
html #content footer {
  grid-column: 2 / 3;
  align-items: center;
  display: flex;
  font-size: 0.75rem;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
html #content footer .footnote {
  margin-bottom: 0.3rem;
  text-align: center;
  /* modules */
}
html #content footer .socials {
  margin-bottom: 0.3rem;
  text-align: center;
  /* modules */
}
html #content footer .socials i {
  font-size: 0.9rem;
}
html #content article {
  padding-top: 1rem;
}
html #content article a.footnote-ref::before {
  content: "[";
}
html #content article a.footnote-ref::after {
  content: "]";
}
html #content article blockquote,
html #content article div,
html #content article h1,
html #content article h2,
html #content article h3,
html #content article h4,
html #content article h5,
html #content article h6,
html #content article p,
html #content article pre,
html #content article ol,
html #content article table,
html #content article ul {
  margin-bottom: 1rem;
}
html #content article h1,
html #content article h2,
html #content article h3,
html #content article h4,
html #content article h5,
html #content article h6 {
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}
html #content article blockquote {
  border-left: var(--orange) 2px solid;
  background-color: var(--bg2);
  margin: 1.5rem 0 1.5rem 0;
  padding: 0.5rem 0 0.5rem 1.3rem;
}
html #content article blockquote p {
  line-height: 1.3;
  font-size: 0.9rem;
  margin-bottom: 0;
}
html #content article code {
  font-family: var(--font-mono);
  font-size: 0.85rem;
  background-color: var(--bg1);
  border-radius: 0.2rem;
  padding: 0.2rem 0.2rem 0.2rem 0.2rem;
}
html #content article img {
  max-width: 100%;
}
html #content article p {
  text-align: left;
  line-height: 1.5rem;
  max-width: 60vw;
}
html #content article pre {
  background-color: var(--gray);
  margin: 1.5rem 0 1.5rem 0;
  padding: 0.5rem 0 0.5rem 0;
  padding-left: 1.3rem;
}
html #content article pre code {
  padding: 0;
}
html #content article table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--fg);
}
html #content article th,
html #content article td {
  padding: 0.4rem;
  text-align: left;
  border: 1px solid var(--fg);
}
html #content article th {
  font-family: var(--font-sc);
  text-transform: uppercase;
  font-variant: small-caps;
  font-size: 0.8rem;
  padding: 0.3rem;
}
html #content article tr:nth-child(even) {
  background-color: var(--bg);
}
html #content article td {
  color: var(--fg);
}
html #content article ol,
html #content article ul {
  margin-left: 1.5rem;
}
html #content .paginator {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
}
html #content .comment {
  margin-top: 1rem;
}
html #content .metadata {
  display: flex;
  flex-wrap: wrap;
  font-family: var(--font-sc);
  color: var(--gray);
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
}
html #content .metadata .grey {
  margin-bottom: 1rem;
}
html #content .metadata time {
  margin-left: 0;
  justify-self: flex-end;
}
html #content .metadata span {
  margin-right: 1rem;
}
html #content #share-buttons {
  margin-top: 0.6rem;
}
html #content .summary {
  font-style: italic;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  line-height: 1.5;
}
@media only screen and (min-width: 768px) {
  html {
    font-size: 22px;
  }
}

@media only screen and (max-width: 768px) {
  #left-sidebar {
    display: none;
  }
  #right-sidebar {
    display: none;
  }
}
