{{ define "main" }}
<main id="main" class="archive">
  <h1>{{ .Title }}</h1>
  {{ $pages := where .Data.Pages "Type" "posts" }} {{ range $pages.GroupByDate
  "2006-01" }}
  <div class="post-group">
    <h2>{{ dateFormat "January 2006" (printf "%s-01" .Key) }}</h2>
    <ul>
      {{ range .Pages }}
      <li>
        <a class="link" href="{{ .RelPermalink }}">{{ .Title }}</a>
        <time>
          {{ with .Date }}
          <i class="fa-solid fa-calendar-days"></i>
          {{ . | time.Format ":date_long" }} {{ end }} {{ with .PublishDate }}
          <i class="fa-solid fa-calendar-days"></i>
          {{ . | time.Format ":date_long" }} {{ end }}
        </time>
      </li>
      {{ end }}
    </ul>
  </div>
  {{ end }}
  {{ $pages := where .Data.Pages "Type" "posts" }}
  <div class="post-group">
    <h2>...</h2>
  </div>
</main>
{{ end }}
