<div class="socials">
  <a href="https://www.linkedin.com/in/ghassbomb/" target="_blank"
    rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a>
  <a href="https://github.com/ghassbomb" target="_blank"
    rel="noopener noreferrer"><i class="fab fa-github"></i></a>
    <a href="https://stackoverflow.com/users/11578707/ghassan-shahzad" target="_blank"
    rel="noopener noreferrer"><i class="fab fa-stack-overflow"></i></a>
    ·
  <a href="https://www.instagram.com/ghassanshahzad" target="_blank"
    rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
  <a href="https://twitter.com/ghassbomb" target="_blank"
    rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
  <!-- <a href="https://www.reddit.com/user/your-username" target="_blank"
    rel="noopener noreferrer"><i class="fab fa-reddit"></i></a> -->
    ·
  <a href="https://letterboxd.com/ghassbomb" target="_blank"
    rel="noopener noreferrer"><i class="fa fa-film"></i></a>
    <a href="https://www.backloggd.com/u/GhassBomb/" target="_blank"
    rel="noopener noreferrer"><i class="fa fa-gamepad"></i></a>
  <a href="https://www.goodreads.com/user/show/160780291-ghassan-shahzad" target="_blank"
    rel="noopener noreferrer"><i class="fab fa-goodreads"></i></a>
  <a href="https://open.spotify.com/user/19nksgdzazg0qdja0sdf6cvct?si=5baed189a74d42ba" target="_blank"
    rel="noopener noreferrer"><i class="fab fa-spotify"></i></a>
  <a href="https://steamcommunity.com/id/ghassbomb/" target="_blank"
    rel="noopener noreferrer"><i class="fab fa-steam"></i></a>
</div>

<div class="footnote">
  <p>
    <a href="/privacy-policy">Privacy Policy</a> ·
    <a href="/credits">Credits</a> ·<a href="/index.xml">RSS Feeds</a>
  </p>
</div>

<div>
  <span>© {{ .Site.Params.since }} - {{ now.Format "2006"}} {{ .Site.Author.name
    }}</span>
</div>