{{ if eq .Section "posts" }}
  {{ with .Params.summary }}
  <div class="post-summary">
    <p>{{ . }}</p>
  </div>
  {{ end }}

  {{ $series := index .Params.series 0 }}
  {{ $relatedPosts := where .Site.RegularPages ".Params.series" "intersect" (slice $series) }}
  {{ $count := len $relatedPosts }}
  {{ if gt $count 0 }}
  <div id="series" class="featured-posts">
    <h4>In This Series</h4>
    <ol>
      {{ range $relatedPosts }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ol>
  </div>
  {{ end }}

  {{ $category := index .Params.categories 0 }}
  {{ $relatedPosts := where .Site.RegularPages ".Params.categories" "intersect" (slice $category) }}
  {{ $maxPosts := 5 }}
  {{ $count := 0 }}
  {{ range $relatedPosts }}
    {{ if and (ne .Permalink $.Permalink) (lt $count $maxPosts) }}
      {{ $count = add $count 1 }}
    {{ end }}
  {{ end }}
  {{ if gt $count 0 }}
  <div class="featured-posts">
    <h4>Related</h4>
      {{ range $relatedPosts }}
        {{ if and (ne .Permalink $.Permalink) (lt $count $maxPosts) }}
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        {{ end }}
      {{ end }}
  </div>
  {{ end }}
{{ end }}
