{{ define "main" }}
<main>
  {{ $paginator := .Paginate (where .Site.RegularPages "Type" "==" "posts") }}
  {{ range $paginator.Pages }}
  <div class="post">
    <h2>
      <a class="link" href="{{ .Permalink }}">{{ .Title }}</a>
    </h2>
    <div class="metadata">
      <div class="grey">
        {{ if .Site.Params.showWordCount }}
        <span>{{ .WordCount }} words</span>
        {{ end }} {{ if gt .ReadingTime 1 }} {{ .Scratch.Set "timeUnit" "mins"
        }} {{ else }} {{ .Scratch.Set "timeUnit" "min" }} {{ end }} {{ if
        .Site.Params.showReadingTime }}
        <span>~{{.ReadingTime}} {{ .Scratch.Get "timeUnit" }}</span>
        {{ end }}
  
        <time>
          {{ with .Date }}
          {{ . | time.Format ":date_long" }} {{ end }} {{ with .PublishDate }}
          {{ . | time.Format ":date_long" }} {{ end }}
        </time>
      </div>
      <div class="series">
        {{ if ne .Params.series nil }}
        {{ range .Params.series }}
        <p>Part of: <a href='{{ "series" | absURL }}/{{ . | urlize }}'>{{ . }}</a></p>
        {{ end }}
        {{ end }}
      </div>
      <div class="non-grey">
        {{ if ne .Params.categories nil }}
        {{ range .Params.categories }}
        <b><a href='{{ "categories" | absURL }}/{{ . | urlize }}'>#{{ . }}</a></b>
        {{ end }}
        {{ if ne .Params.tags nil }}
        {{ range .Params.tags }}
       <a href='{{ "tags" | absURL }}/{{ . | urlize }}'>#{{ . }}</a>
        {{ end }}
        {{ end }}
      {{ end }}
      </div>

    </div>
    <div class="content">
      <p class="summary">{{ .Summary }}</p>
    </div>
  </div>
  {{ end }} {{ if or $paginator.HasPrev $paginator.HasNext}}
  <div class="paginator">
    {{ if $paginator.HasPrev }}
   <a href="{{ $paginator.Prev.URL }}">← prev</a>
    {{ else }}
    <a></a>
    {{ end }} {{ if $paginator.HasNext }}
   <a href="{{ $paginator.Next.URL }}">next →</a>
    {{ else }}
    <a></a>
    {{ end }}
  </div>
  {{ end }}
</main>
{{ end }}
